<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cars Page</title>
        <link rel="stylesheet" type="text/css" href="css/cars.css">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1>Some Cool Cars!</h1>
        <a href="/">Home</a>
        <a href="/cats">Cats</a>
        <a href="/new">New Car Form</a>
        <div id="cars">
        <% for (var c in cars) { %><img src="images/<%= cars[c].name %>"><% } %>
        </div>
    </body>
</html>