<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cats Page</title>
        <link rel="stylesheet" type="text/css" href="css/cats.css">
    </head>
    <body>
        <h1>Some Cool Cats!</h1>
        <a href="/">Home</a>
        <a href="/cars">Cars</a>
        <a href="/new">New Car Form</a>
        <div id="cats">
        <% for (var cat of cats) { %><img src="images/<%= cat %>"><% } %>
        </div>
    </body>
</html>